<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feedback Bot - Thanks!</title>

    <!-- Import font from fonts.google.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap" rel="stylesheet">

    <!-- Import Pico.CSS Micro Framework -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css" />

    <!-- Import our static/css/app.css stylesheet -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/app.css') }} />

    <!-- Import our static/js/app.js JavaScript -->
    <script defer src={{ url_for('static', filename='js/app.js' ) }}></script>
  </head>

  <body>
    <main class="container">
        <div class="vertical-center">
            <h1>Thanks for your feedback!</h1>
        </div>
    </main>
  </body>
</html>
